{% load i18n %}

<div class="post-preview">
    <h2 class="post-title">
        {% blocktrans with user=post.user created_datetime=comment.created_datetime%}
        Комментарий от {{ user }} в {{ created_datetime }}
        {% endblocktrans %}
    </h2>
    <h3 class="post-subtitle">
        {{ comment.text|safe }}
    </h3>
    <p>
        <a href="{% url 'comment_update' comment.id post.id %}">{% trans 'Изменить' %}</a>
    </p>
</div>
<hr>
