<div class="remove_element">
    <div class="post-preview">
        <a href="{% url 'post_detail' post.id %}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
                {{ post.text }}
            </h3>
        </a>
        <p class="post-meta">Автор:
            <a href="{% url 'user_detail' post.user_id %}">{{ post.user.get_full_name }}</a>
            в {{ post.created_datetime }}</p>
        {% if user.id == post.user_id %}
            <button id="delete_post" type="button" data-href="{% url 'post_delete' post.id %}">
                Удалить пост
            </button>
        {% endif %}
    </div>
    <hr>
</div>
