{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <h2 class="post-title">
        {{ object.get_full_name }}
    </h2>
    <img width="440" src="{{ object.avatar.url }}">
    <h3 class="post-subtitle">
        {% trans 'email' %}: {{ object.email }}
    </h3>
{% endblock %}
