{% load i18n %}

<form method="post" action="{{ comment_url }}">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <button  class="btn btn-success" type="submit">{% trans 'Отправить комментарий' %}</button>
</form>
