{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <form method="post" id="create_form" action="{% url 'post_create' %}">
        <p id="two_input">
            <label for="{{ form.title.id_for_label }}">
                {% trans 'Заголовок:' %}
            </label>
            {{ form.title }}
            <p class="btn-danger">{{ form.title.errors }}</p>
        </p>
        <p id="first_input">
            <label for="{{ form.text.id_for_label }}">
                {% trans 'Текст объявления:' %}
            </label>
            {{ form.text }}
            <p class="btn-danger">{{ form.text.errors }}</p>
        </p>
        <p id="two_input">
            {{ form.captcha }}
            <p class="btn-danger">{{ form.captcha.errors }}</p>
        </p>
        {% csrf_token %}
        <button type="button" class="btn btn-success" id="send_form">{% trans 'Создать' %}</button>
    </form>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
    $('body').on('click', '#send_form', function() {
      var form = $('#create_form');
       $.post(form.attr('action'), form.serialize(), function(self) {
         if (self.status == 'ok')
            window.location.replace('/');
         else{
           form.replaceWith(self.html)
         }
       })
    } )
    </script>
{% endblock %}
