{% extends 'base.html' %}

{% block main %}
<h3>Вы уверены что хотите удалить объект?</h3>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Да, удалить</button>
</form>
{% endblock %}
