{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    {% for post in posts %}
        {% include 'includes/preview_post.html' %}
    {% empty %}
        <div class="post-preview">
            <h2 class="post-title">{% trans 'Нету объявлений' %}</h2>
        </div>
    {% endfor %}

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                </li>
            {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    {% csrf_token %}
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script>
      $('body').on('click', '#delete_post', function() {
        var deleteBtn = $(this);
        var form_data = {
          'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
        };
        $.post(deleteBtn.data('href'), form_data, function(self) {
            deleteBtn.closest('.remove_element').slideUp(1000);
        });
      });
    </script>
{% endblock %}
