{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
         {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">{% trans 'Создать' %}</button>
    </form>
{% endblock %}
