{% extends 'base.html' %}

{% block main %}
    <form method="post" novalidate>
        {% csrf_token %}
        <p>
            <label id="{{ form.username.id_for_label }}">Логин</label>
            {{ form.username }}
            <p style="color: red;">
                {{ form.username.errors }}
            </p>
        </p>
        <p>
            <label id="{{ form.captcha.id_for_label }}">Капча</label>
            {{ form.captcha }}
            <p style="color: red;">
                {{ form.captcha.errors }}
            </p>
        </p>
        <p>
            <label id="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
            <p style="color: red;">
                {{ form.password.errors }}
            </p>
        </p>
        {% for err in form.non_field_errors %}
            <p style="color: red;">{{ err }}</p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Войти</button>
    </form>
{% endblock %}
